{% extends 'base.html' %}
{% block title %}Recipe Box{% endblock %}
{% block content %}
    <div class="container-photo">
        <img class="kitchen" src="../static/images/kitchen.jpg" alt="kitchen">
        <span class="bottom-left">
            Photo by <a href="https://unsplash.com/@beccatapert?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Becca
            Tapert</a> on <a
            href="https://unsplash.com/s/photos/kitchen?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
        </span>
    </div>
    </div>
    <div class="text-center">
        <form id="recipe-search">
            <h1 class="mt-3">What are you in the mood for?</h1>
            <input class="rounded" type="text" id="recipe" name="recipe"><br><br>
            <input type="checkbox" id="protein" name="protein">
            <label class="mr-2" for="protein"> High protein</label>
            <input type="checkbox" id="low_fat" name="low_fat">
            <label class="mr-2" for="low_fat"> Low-Fat</label>
            <input type="checkbox" id="low_carb" name="low_carb">
            <label for="low_carb"> Low-Carb</label><br>
            <button class="btn btn-success mt-3" type="submit">Search</button>
        </form>
        <div class="recipe-list row mt-5"></div>
    </div>
{% endblock %}

