{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="container text-center mt-3">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ msg }}</div>
    {% endfor %}
</div>
<div class="container-fluid text-center">
    <img class="mussels mt-3" src="../static/images/mussels.jpg" alt="mussels">
    <h1 class="display-4 mt-2">{{ user.get_full_name() }}</h1>
    <form action="/recipes/new">
        <button class="btn btn-info">Add Your Own Recipe</button>
    </form>
    <hr>
    <h1 class="m-3">{{ user.first_name }}'s Saved Recipes</h1>
    {% for recipe in user.recipes %}
        <h5 class="row justify-content-md-center">
            <form action="/recipes/{{recipe.id}}/delete" method="POST">
                <button class="btn"><i class="fas fa-trash-alt fa-lg"></i></button><br>
            </form>
            <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
        </h5>
    {% endfor %}
</div>
{% endblock %}